<!-- Footer -->
	<footer id="footer">
		<div class="inner">
		  <span class="icon alt fa-envelope"></span>
		  <a href="mailto:{{ site.email }}">{{ site.email }}</a>
			<ul class="icons">
				{% for key_value in site.socials %}
					{% if key_value[1] %}
						<li>
							<a href="{{ key_value[1] }}" class="icon alt fa-{{ key_value[0] | downcase }}" target="_blank" rel="noopener noreferrer" aria-label="{{ key_value[0] }}">
								<span class="label">{{ key_value[0] }}</span>
							</a>
						</li>
					{% endif %}
				{% endfor %}
			</ul>
		</div>
	</footer>


<!-- Footer -->
</footer>

<script>
  // Array of catch phrases for title
  var titlePhrases = [
    "Acorn.io Artisan!",
    "Ambassador Ace!",
    "Architect Aficionado!",
    // Add all your title phrases here
  ];

  // Array of catch phrases for description
  var descriptionPhrases = [
    "Insights on my approach as an Acorn.io Artisan!",
    "Learn more about my work as an Ambassador Ace!",
    "Discover my methodology as an Architect Aficionado!",
    // Add all your description phrases here
  ];

  // Function to change the catch phrase
  function changeCatchPhrase() {
    // Change the content of the title and description elements for each tile
    for (var i = 1; i <= 5; i++) {
      // Get a random index for title and description
      var titleIndex = Math.floor(Math.random() * titlePhrases.length);
      var descriptionIndex = Math.floor(Math.random() * descriptionPhrases.length);

      // Get the catch phrases
      var titlePhrase = titlePhrases[titleIndex];
      var descriptionPhrase = descriptionPhrases[descriptionIndex];

      document.getElementById('dynamicTitle' + i).textContent = titlePhrase;
      document.getElementById('dynamicDescription' + i).textContent = descriptionPhrase;
    }
  }

  // Change the catch phrase every 5 seconds
  setInterval(changeCatchPhrase, 5000);
</script>


</div>

<!-- Scripts -->
	<script src="{{ "assets/js/jquery.min.js" | absolute_url }}"></script>
	<script src="{{ "assets/js/jquery.scrolly.min.js" | absolute_url }}"></script>
	<script src="{{ "assets/js/jquery.scrollex.min.js" | absolute_url }}"></script>
	<script src="{{ "assets/js/skel.min.js" | absolute_url }}"></script>
	<script src="{{ "assets/js/util.js" | absolute_url }}"></script>
	<!--[if lte IE 8]><script src="{{ "assets/js/ie/respond.min.js" | absolute_url }}"></script><![endif]-->
	<script src="{{ "assets/js/main.js" | absolute_url }}"></script>
